{{ define "main" }}
<div class="">
  <section class="text-center container py-7">
    <h1 class="mb-3 text-primary">{{ .Params.heading }}</h1>
    <div class="row">
        <p class="col-md-6 text-secondary mx-auto m-0">
          {{ .Content | markdownify }}
        </p>
    </div>
  </section>

</div>
<div class="pt-4 white-bg">
  <section class="container ">
      {{ $bundle := .Site.GetPage "section" "media" }}
      {{ range $index, $feature := .Params.services }}
      <div class="row py-5 mb-3">

      <div class="col-md-6 mb-4 {{ if not (mod $index 2) }} order-md-1 pl-5 pr-0 {{ else }} - {{ end }}">
        <h2 class=" mt-4 mb-5 text-white">{{ $feature.title }}</h2>
        <div class="text-secondary mb-3 w-90" >{{ $feature.description }}</div>
      </div>
      <div class="col-md-6 {{ if not (mod $index 2) }} text-left {{ else }} text-right {{ end }}">
          {{ $fileName := strings.TrimPrefix "/media/" $feature.image }}
          {{ $img := index ($bundle.Resources.Match $fileName) 0 }}
          {{ $resizedImg := $img.Fill "600x350 center q100" }}
        <img src="{{ $resizedImg.RelPermalink }}" alt="" class="img-fluid shadow-lg">
      </div>
    </div>
    {{ end }}

  </section>
</div>
{{ end }}
