<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta name="theme-color" content="#ffffff">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <link href="https://fonts.googleapis.com/icon?family=Roboto:300,400,500|Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
    <link rel="stylesheet" id='lightgallery-css' href="/css/lightgallery.css">
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    {{ partial "navbar" . }}
    {{ block "main" . }} {{ end }}
    {{ partial "footer" . }}
  <script src="/js/app.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA__J90bU4DpuIEZZTQlX2PgdOJF_Ze9Zs" type="text/javascript"></script>
  <script src="/js/masonry.pkgd.js"></script>
  <script src="/js/lightgallery-all.min.js"></script>
  <script src="/js/lg-thumbnail.min.js"></script>
  <script type="text/javascript">
    $('.grid-masonry').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
  </script>
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery({
        fullScreen:false,
        toogleThumb:false,
        share:false,
        download:false,
        autoplayControls:false,
        actualSize:false,
        showThumbByDefault:true,
        selector: '.grid-item-image'
      });
    });
  </script>
  <script type="text/javascript">

  $("#projects-slider").slick({
    autoplay:true,
    autoplaySpeed:1500,
    centerMode: true,
    prevArrow: $("#project-prev"),
    nextArrow: $("#project-next"),
    slidesToShow: 4,
    responsive: [
    {
      breakpoint: 1580,
      settings: {
        slidesToShow: 3,
      }
    },
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
    ]
  });
</script>

<script>

        function google_maps_main() {
            {{ with .Site.GetPage "section" "contact" }}
            var localisation = {{ .Params.localisation }}.split(",") ;
            {{ end }}
            var latlng = new google.maps.LatLng(localisation[0],localisation[1]);

            var myOptions = {

                zoom: 14,

                center: latlng,

                mapTypeId: google.maps.MapTypeId.ROADMAP,

                zoomControl: true,

                mapTypeControl: false,

                streetViewControl: false,

                scrollwheel: false

            };

            var map = new google.maps.Map(document.getElementById("google-map-area-main"), myOptions);

            var marker = new google.maps.Marker({

                position: latlng,

                map: map

            });

        }

        jQuery(document).ready(function($) {

            google_maps_main();

        });

    </script>
  </body>

</html>
