
<div class="py-7 py-md-7" id="presentation">
  <section class="container">
    <div class="row">
      <div class="col-md-6 mb-4 ">
        <h1 class=" mb-5 text-white">Bahia Display</h1>
        <div class="text-secondary mb-3 w-90" >{{ .Params.Presentation }}</div>
      </div>
      <div class="col">
          {{ $bundle := .Site.GetPage "section" "media" }}
          {{ $fileName := strings.TrimPrefix "/media/" .Params.intro_image }}
          {{ $img := index ($bundle.Resources.Match $fileName) 0 }}
          {{ $resizedImg := $img.Fill "600x400 center" }}
        <img src="{{ $resizedImg.RelPermalink }}" alt="" class="img-fluid shadow-lg">
      </div>
    </div>
  </section>
</div>

