{{ with .Site.GetPage "section" "references" }}
<div class="pt-7 pb-7 bg-white">
  <section class="container text-center">
    <h2 class="h2 mb-3 text-dark">{{ .Params.heading }}</h2>
    <div class="row">
      <p class="col-md-6 text-dark mx-auto mb-5 px-4 px-md-0">
        {{ .Content | markdownify }}
      </p>
    </div>
    <div class="row align-items-center justify-content-center mb-5">
      {{ $bundle := .Site.GetPage "section" "media" }}
      {{ range first 6 (where .Params.refs "publish" true) }}
        {{ $fileName := strings.TrimPrefix "/media/" .image }}
        {{ $img := index ($bundle.Resources.Match $fileName) 0 }}
        {{ $resizedImg := $img.Fit "180x75" }}
        <div class="col-6 px-4 mb-4 mb-md-0 col-md-2 reference">
          <img src="{{ $resizedImg.RelPermalink }}" class="img-fluid" alt="">
        </div>
      {{ end }}
    </div>
    <div class="text-center">
        <a href="/references" class="btn btn-danger text-white">Découvrez tous nos clients &rarr;</a>
      </div>
  </section>
</div>
{{ end }}
