{{ with .Site.GetPage "section" "services" }}
<div class="py-7 bg-light" >
  <section class="container mb-3">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h1 class="h1 section-title mb-3 text-center text-dark mb-5">Produits et Services</h2>
        <!-- <p class="text-secondary intro-paragraph">Nos proposont une multitude de services à nos clients</p> -->
      </div>


        <div class="col-md-12 text-center">
        <button class="btn btn-dark shadow btn-arrow rounded-circle mr-2" style="" id="project-prev">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>


      <button class="btn btn-dark shadow btn-arrow rounded-circle" style="" id="project-next">
          <i class="material-icons">keyboard_arrow_right</i>
        </button>
        </div>
    </div>

  </section>
  <div class="container-fluid" id="projects-slider">
     {{ $bundle := .Site.GetPage "section" "media" }}
      {{ range first 6 .Params.services }}
        {{ $fileName := strings.TrimPrefix "/media/" .image }}
        {{ $img := index ($bundle.Resources.Match $fileName) 0 }}
        {{ $resizedImg := $img.Fill "400x300 center"  }}
          <div class="px-2 px-md-4 py-5">
        <a href="/services#{{ .title }}">
            <article class="card shadow">

              <div class="card-img">
                <img src="{{ $resizedImg.RelPermalink }}" alt="" class="card-img-top">
              </div>
              <div class="card-body p-3 p-md-4">
                <h4 class="card-title text-dark text-uppercase">{{ .title }}</h4>
                <p class="card-text text-primary mb-3" >{{ .description }}</p>
                <a href="/services#{{ .title }}" class="text-dark ">En savoir plus &raquo;</a>
                {{ if .link }}
                <a href="{{ .link }}" target="_blank" class="text-dark float-right"><img src="/img/download.svg" title="Telecharger catalogue" alt="Telecharger catalogue" width="20"></a>
                {{ end }}
              </div>
            </article>
        </a>
          </div>
    {{ end }}
  </div>
</div>
{{ end }}
