{{ define "main" }}
<div class="bg-white">
  <section class="text-center container py-7 bg-white">
    <h1 class="mb-5 text-dark">{{ .Params.heading }}</h1>
    <div class="row">
        <p class="col-md-6 text-dark mx-auto m-0">
          {{ .Content | markdownify }}
        </p>
    </div>
  </section>

</div>
<div class="pt-5 pb-7 bg-white">
  <section class="container text-center">
    <div class="row justify-content-center align-items-center">
      {{ $bundle := .Site.GetPage "section" "media" }}
      {{ range .Params.refs }}
        {{ $fileName := strings.TrimPrefix "/media/" .image }}
        {{ $img := index ($bundle.Resources.Match $fileName) 0 }}
        {{ $resizedImg := $img.Fit "200x75" }}
        {{ if .publish }}
        <div class="col-6 col-md-3 px-3 mb-5 mb-md-0 col-md-2 mb-md-7 reference">
          <img src="{{ $resizedImg.RelPermalink }}" alt="" class="img-fluid">
        </div>
        {{ end }}
      {{ end }}
    </div>
  </section>
</div>
<div class="pt-7 pb-7 bg-light">
  <section class="container text-center">

  <h2 class="h2 mb-6 text-dark">Galerie</h2>
  <div id="lightgallery" class="grid-masonry">
    <div class="grid-sizer col-md-4"></div>
    {{ $bundle := .Site.GetPage "section" "media" }}
      {{ range .Params.gallery }}
        {{ $fileName := strings.TrimPrefix "/media/" .image }}
        {{ $img := index ($bundle.Resources.Match $fileName) 0 }}
        {{ $resizedImg := $img.Resize "400x" }}
        <div class="grid-item col-md-4 grid-item-image" data-src="{{ $img.RelPermalink }}">

            <img src="{{ $resizedImg.RelPermalink }}" class="img-fluid" alt="">

        </div>
      {{ end }}
  </div>
</section>
</div>

{{ end }}
